/* Defining Color Variables - ensure these are set according to your theme */


.contactPage {
    text-align: center;
    padding: 20px;
    margin: 40px auto;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.contactFieldset {
    border: 2px solid var(--dark-brown);
    border-radius: 12px;
    background-color: var(--deep-blue);
    padding: 20px;
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
}

.contactFieldset label {
    text-align: left;
    display: block;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}

.contactFieldset input, 
.contactFieldset textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--dark-brown);
    border-radius: 12px;
   
    color: var(--dark-brown);
    margin-bottom: 15px; /* Ensure spacing between inputs */
}



.contactButton {
    cursor: pointer;
    background-color: var(--main-green);
    color: var(--light-background);
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
   
}

.contactButton:hover {
    background-color: red;
    color: var(--light-background);
}

.contactSection, .contactSection2 {
    padding: 30px;
    border-radius: 12px;
    margin: 4rem auto;
    max-width: 50rem;
}

.contactSection {
    background-color: var(--main-green);
}

.contactSection2 {
    background-color: var(--deep-blue);
    border: 3px solid var(--dark-brown);
}

.contactCard {
    background-color: var(--light-background);
    border: 3px solid var(--dark-brown);
    border-radius: 12px;
    padding: 20px;
    max-width: 30rem;
    margin: 20px auto;
}

.googleMap {
    display: none;
}

.googleLink {
    color: blue;
    text-decoration: underline;
}

@media screen and (min-width: 1120px) {
    .googleLink {
        display: none;
    }

    .googleMap {
        display: block;
        width: 100%;
        max-width: 50rem;
        height: 300px; /* Set a fixed height for the map */
        margin: 0 auto;
    }
}
